{
  "name": "TryggArena GenericColumns",
  "forms": "src/forms",
  "form_scripts": "src/form-scripts",
  "form_tests": "src/form-tests",
  "opts": "src/operational-templates",
  "data": "data",
  "foldertemplates": "src/folder-templates",
  "vaqms": "src/vaqms",
  "archetypes": "src/archetypes",
  "concepts": "src/ehr/document-concepts"
}